.lianxiwomen{
    height: 160px;
}

.lianxiwomen ul{
    margin-right: 45px;
    font-size: 16px;
}
.lianxiwomen ul li{
    line-height: 36px;
    position: relative;
}
.lianxiwomen ul li em{
    color: #ffffff;
    background-color: #aaaaaa;
    margin-right: 15px;
}
.lianxiwomen ul li span{
    color: #df5433;
}
.lianxiwomen ul li img{
    position: absolute;
    left: -29px;
    bottom: 6px;
}








































